/*Styling af header med titel*/
header img{
    width: 100vw;
    height: 10.5vh;
    margin-top: 3.5rem;
    object-fit: cover;
}

.header-overlay{
    position: absolute;
    width: 100vw;
    height: 10.5vh;
    top: 0em;
    margin-top: 3.5rem;
    background-color: rgba(46, 52, 45, 0.557);
}
header{
    margin-bottom: -4px;
}

.header-big{
    font-family: var(--script);
    font-size: 15vw;
    color: var(--light-text);
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer p{
    color: var(--light-text);
}

/*Styling af sectioner*/
.section-img{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    margin-bottom: -4px;
}
.one{
    background-color: var(--light-text);
    padding-top: 2em;
    padding-right: 3em;
}
.one img{
  width: 23.438rem;
  height: 16.991rem;  
}
.three img{
    width: 23.438rem;
    height: 16.991rem;  
  }
.five img{
    width: 23.438rem;
    height: 16.991rem;  
}
.seven img{
    width: 23.438rem;
    height: 16.991rem;  
}
.nine img{
    width: 23.438rem;
    height: 16.991rem;  
}
.section{
    font-size: 1.25rem;
    padding-top: 0.938rem;
}
.psection{
    font-size: 0.75rem;
    padding-top: 0.938rem;
    padding-left: 4em;
    padding-bottom: 2.875rem;
}
.two{
    background-color: var(--light-text);
    padding-right: 3em;
}
hr{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.text-box{
    margin-left: 4em;
    margin-right: 1.5em;
    margin-top: 0.5em;
    padding-bottom: 2em;
}
.facilities{
    list-style-type: circle;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.facilities li{
    display: list-item;
    color: var(--dark-brown);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.8em;
}
.facilities-day{
    margin-left: -1em;
    margin-bottom: 0.5em;
}
.three{
    margin-left: 0rem;
}
.four{
    margin-left: 0rem;
}


/* Media Query for Tablet */
@media only screen and (min-width: 700px){
header img, .header-overlay{
    margin-top: 6rem;
    height: 45vh;
}
.header-big{
    top: 30%;
}
.header-small{
    top: 38%;
}
}

/* Media Query for Web */
@media only screen and (min-width: 960px) {
    header img{
        margin-top:auto;
        height: 59.5vh;
    }
    .header-overlay{
        margin-top: 5.5rem;
        height: 50vh;
    }
    .header-big{
        font-size: 10vw;
        top: 30%;
    }
    .header-small{
        top: 45%;
        font-size: 1.8vw;
    }
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70vh 70vh;
    }
    .section{
        padding-top: 6.563rem;
        padding-left: 5.313rem;
        font-size: 1.875rem;
    }
    .txtdividers{
      width: 46.875rem;
      margin-left: 5.313rem;  
    }
    .psection{
        font-size: 1.25rem;
        padding-right: 8.063rem;
        padding-left: 9.063rem;
    }
    .one{
        grid-column: 1/2;
        grid-row: 1/2;
        padding-right: 0rem;
    }
    .one img{
        width: auto;
        height: 28.188rem;  
      }
      .three img{
        width: auto;
        height: 28.188rem;  
      }
    .five img{
        width: auto;
        height: 28.188rem;  
    }
    .seven img{
        width: auto;
        height: 28.188rem;  
    }
    .nine img{
        width: auto;
        height: 28.188rem;  
    }
    .two{
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: #D8D5CD;  
    }
    .three{
        grid-column: 2/3;
        grid-row: 2/3;
        margin-left: 0;
    }
    .four{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .five{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .six{
        grid-column: 2/3;
        grid-row: 3/4;
        background-color: #D8D5CD;
    }
    .seven{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .eight{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .nine{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .ten{
        grid-column: 2/3;
        grid-row: 5/6;
        background-color: #D8D5CD;
    }
}