/*Styling af header*/
header{
    position: relative;
    text-align: center;
}
.header-big{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}
header img{
    height: 7em;
    margin-top: 3em;
}

footer p{
    color: var(--light-text);
}

/*Styling af sectioner*/
.section-img{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    margin-bottom: -4px;
}
.one{
    background-color: var(--light-text);
    padding-top: 2em;
    padding-right: 3em;
}
.one img{
  width: 23.438rem;
  height: 16.991rem;  
}
.three img{
    width: 23.438rem;
    height: 16.991rem;  
  }
.five img{
    width: 23.438rem;
    height: 16.991rem;  
}
.seven img{
    width: 23.438rem;
    height: 16.991rem;  
}
.nine img{
    width: 23.438rem;
    height: 16.991rem;  
}
.section{
    font-size: 1.25rem;
    padding-top: 0.938rem;
}
.psection{
    font-size: 0.75rem;
    padding-top: 0.938rem;
    padding-left: 4em;
    padding-bottom: 2.875rem;
}
.two{
    background-color: var(--light-text);
    padding-right: 3em;
}
hr{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.text-box{
    margin-left: 4em;
    margin-right: 1.5em;
    margin-top: 0.5em;
    padding-bottom: 2em;
}
.facilities{
    list-style-type: circle;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.facilities li{
    display: list-item;
    color: var(--dark-brown);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.8em;
}
.facilities-day{
    margin-left: -1em;
    margin-bottom: 0.5em;
}
.three{
    margin-left: 0rem;
}
.four{
    margin-left: 0rem;
}

.index-se-mere {
    margin: 0;
}


/* Media Query for Tablet */
@media only screen and (min-width: 700px){
    .header-big{
        font-size: 4em;
        top: 2em;
    }
}

/* Media Query for Web */
@media only screen and (min-width: 1150px) {
    /*'html, body' side scroll fix fundet på https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
    html, body{
        max-width: 100%;
        overflow-x: hidden;
    }
    header img{
        height: 14em;
    }
    .header-big{
        font-size: 6em;
        margin-top: -1.2em;
        top: 3.3em;
    }
    .gridcontainer{
        display: grid;
        grid-template-columns: 50vw 50vw;
    }
    .section{
        padding-top: 6.563rem;
        padding-left: 5.313rem;
        font-size: 1.875rem;
    }
    .txtdividers{
      width: 46.875rem;
      margin-left: 5.313rem;  
    }
    .psection{
        font-size: 1.25rem;
        padding-right: 8.063rem;
        padding-left: 9.063rem;
    }
    .one{
        grid-column: 1/2;
        grid-row: 1/2;
        padding-right: 0rem;
        padding-top: 0;
    }
    .one img{
        width: 100%;
        height: 100%;
        /* height: 28.188rem;   */
    }
    .three img{
        width: 100%;
        height: 100%; 
    }
    .five img{
        width: 100%;
        height: 100%; 
    }
    .seven img{
        width: 100%;
        height: 100%; 
    }
    .nine img{
        width: 100%;
        height: 100%; 
    }
    .two{
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: #D8D5CD;  
    }
    .three{
        grid-column: 2/3;
        grid-row: 2/3;
        margin-left: 0;
    }
    .four{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .five{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .six{
        grid-column: 2/3;
        grid-row: 3/4;
        background-color: #D8D5CD;
    }
    .seven{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .eight{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .nine{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .ten{
        grid-column: 2/3;
        grid-row: 5/6;
        background-color: #D8D5CD;
    }
}