*{
    margin: 0;
}

/*Styling af header med titel*/
header img{
    width: 100%;
    height: 55vh;
    margin-top: 3rem;
    object-fit: cover;
}

.header-big{
    font-family: var(--script);
    font-size: 4.5rem;
    color: var(--light-text);
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.header-small{
    font-style: italic;
    font-size: 4.5vw;
    color: var(--light-text);
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.selskaber-gridcontainer{
    background-color: #F0F0EB;
    padding-bottom: 3rem
}
.selskaber-one{
    padding-left: 1.6rem;
    padding-right: 1.2em;
}
.textbox1{
    padding-top: 3.2rem;
}
.textbox2{
    margin-top: 3rem;
}

.p1{
    margin-left: 4rem;
}

h3{
    font-style: normal;
    font-weight: bolder;
    color: var(--dark-green);
}
p{
    font-size: 1.7ch
}
.callerlink{
    margin-right: 1.4rem;
}
.phone-tab{
    display: flex;
    justify-content: flex-end;
}
.phone-tab p{
    font-size: 0.9rem;
    text-align-last: right;
    color: var(--dark-green);
    font-family: var(--sans-serif);
    font-weight: 400;
    margin-right: 1.7rem;
}
.phone-tab img{
    height: 1.6rem;
    width: auto;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
}
.info-tab {
    text-align: end;
    font-size: 0.8rem;
    color: var(--light-green);
    font-family: var(--sans-serif-regular);
    font-weight: 400;
    margin-right: 1.7rem;
}

/* Billede galleriet */

.selskab-galleri{
    align-items: center;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: var(--grey);
}

.selsbillede{
    position: relative;
    width: 75vw;
    height: 25vh;
    margin: 2rem auto;
    background-repeat: no-repeat;
}

.sels1 {
    background-image: url(../img/selskab1.jpg);
    background-size: 150%;
    background-position: 50% 70%;
}

.sels2 {
    background-image: url(../img/selskab2.jpg);
    background-size: 150%;
    background-position: 50% 95%;
}

.sels3 {
    background-image: url(../img/selskab3.jpg);
    background-size: 128%;
    background-position: 50% 70%;
}
.selskab-galleri img{
    object-fit: cover;
    display: block;
    overflow: hidden;
}

footer p{
    color: var(--light-text);
}

/* Media Query for Tablet */
@media only screen and (min-width: 700px){

    .selskab-galleri{
        position: relative;
        width: 50vw;
        height: 35vh;
        margin: 2rem auto;
        background-repeat: no-repeat;
    }
    .header-big{
        font-size: 7rem;
        top: 33%;
    }
    .header-small{
        top: 43%;
        font-size: 1.6rem;
    }

    .selskabs-gridcontainer{
        display: flex;
        flex-direction: column;
    }
}
/* Media Query for Web */
@media only screen and (min-width: 1150px) {
    /*'html, body' side scroll fix fundet på https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
    html, body{
        max-width: 100%;
        overflow-x: hidden;
    }    
    header img{
        margin-top:auto;
        height: 55vh;
        object-fit: cover;
    }
   
    .header-big{
        font-size: 10vw;
        top: 32%;
    }
    .header-small{
        top: 44%;
        font-size: 1.8vw;
    }
    .gridone-h3{
        font-size: 30px;
        padding-top: 3.875rem;
    }
    .gridone-p{
        font-size: 20px;
    }
    .gridtwo-p{
        font-size: 20px;
        padding-top: 3.875rem;
    }
    .aftmde{
        padding-top: 5.875rem;
    }
    .sels1{
        width: 29.938rem;
        height: 22.688rem;
        padding: 0;
        object-fit: cover;
    }
    .sels2{
        width: 29.938rem;
        height: 22.688rem;
        padding: 0;
        object-fit: cover;
    }
    .sels3{
        width: 29.938rem;
        height: 22.688rem;
        padding: 0;
        object-fit: cover;
    }
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70vh 70vh;
    }
    .phoneicon{
        width: 2.063rem;
        height: auto;
    }
    .one{
        grid-column: 1/2;
        grid-row: 1/2;
        padding-bottom: 4.625rem;
    }
    .two{
        grid-column: 2/3;
        grid-row: 1/2;
        padding-bottom: 4.625rem;
    }
    
    .three{
        grid-column: 1/5;
        grid-row: 2/3;
        margin-left: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .three section:nth-child(1){
        background-attachment: fixed;
        background-image: url("img/selskab3.jpg");
        background-size: cover;
    }
    .section-img{
        width: 100vw;
        height: 40vh;
        object-fit: cover;
        margin-bottom: -4px;
    }
}