*{
    margin: 0px;
    font-family: parisplus-clair;
}

:root{
    --dark-brown: #5C3F16;
    --dark-green: #476948;
    --light-text: #F0F0EB;
    --light-green: #889B7F;
    --grey: #d8d5cd;
    --script: gioviale, sans-serif;
    --sans-serif: parisplus-std, sans-serif;
    --sans-serif-regular: parisplus-std, sans-serif;
}


/*Font-styling mobile*/
h3{
    color: var(--light-green);
    font-size: 1.5em;
    margin-left: 1em;
}
h4{
    color: var(--dark-green);
    font-size: 1.2em;
    font-style: italic;
    margin-left: 1.4em;
}
p{
    color: var(--dark-brown);
    font-size: 1em;
    font-weight: 600;
    line-height: 1.6em;
}

/* Nav-Bar */

li{
    display: inline;
}

ul{
    padding-inline-start: 0px;
}
/* Fas fa-bar svg'ets (burgermenu ikonet) indstillinger */
.fas{
    font-size: 2.2rem;
    line-height: 45px;
    float: right;
    padding: 0.4rem;
}

nav{
    position: fixed;
    left: 0;
    width: 100%;
}

.nav-logo{
    width: 8.5rem;
    height: auto;
    margin-left: 0.7rem;
    margin-top: 0.8rem;
}

.flags-and-burger{
    display: flex;
    vertical-align: center;
    justify-content:flex-start;
    gap: 0.4rem;
    position: relative;
    margin-left: auto;
    float: right;
    color: var(--dark-brown);
}

/* UL indstillinger, bl.a. gør at vi har en transition på vores menu */
nav ul{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    height: 100%;
    z-index: 1;
}

#underline{
    border-bottom: #C1BBAC 1px solid;
}

.under-menu li > a{
    color: var(--light-green);
    border-top: none;
    padding-left: 4rem;
    font-style: italic;
    font-size: 1rem;
}

.mobile-nav {
    background-color: var(--light-text);
    margin-inline: 0;
    z-index: +5;
}

.dropdown-content a {
    font-family: var(--sans-serif-regular);
    font-weight: 400;
    background-color: var(--light-text);
    color: var(--dark-green);
    font-size: 1.2rem;
    text-decoration: none;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-top: #C1BBAC 1px solid;
    padding-left: 2rem;
}

.dropdown-phone{
    display: flex;
    background-color: var(--light-text);
    color: var(--dark-green);
    justify-content: center;
    align-items: center;
    border-top: #C1BBAC 1px solid;
    border-bottom: #C1BBAC 1px solid;
    font-size: 1rem;
    padding: 1em;
}

.dropdown-phone p{
    color: var(--dark-green);
    font-family: var(--sans-serif-regular);
    font-weight: 200;
}

.dropdown-phone img{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

/* Checkbox, som er burgermenu'ens indstillinger der gør at vores menu kommer ned når man klikker */
#checkbox{
    display: none;
}

#checkbox:checked ~ nav ul{
    max-height: 100%;
    transition: all 10s;
}
/* ------------------- Mobile navbar slutter ------------------- */

/* Web Nav-Bar */

.web-nav {
    background-color: #F0F0EB;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    z-index: 5;
  }
  
  /* Navigation links */
  .web-nav a {
    float: left;
    font-size: 16px;
    color: var(--dark-brown);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--dark-brown);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .web-nav a:hover, .subnav:hover .subnavbtn {
    transform: scale(1.05)  
}
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    margin-top: 7rem;
    background-color: var(--light-text);
    z-index: 1;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    justify-content: center;
    color: var(--dark-brown);
    text-decoration: none;
    padding-inline: 2rem;
    z-index: 1;
    text-align: start;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: var(--light-green);
    color: rgb(255, 255, 255);
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
  }

.top-bar-phone{
    margin-left: 1rem;
    margin-right: 0.5rem;
    width: 1.2rem;
    height: auto;
}

.top-bar div{
    height: 1rem;
    width: 1px;
    background-color: black;
    margin-left: 1rem;
    margin-right: 0.8rem;
}

.top-bar-flag{
    margin: 0.4rem;
    width: 2.2rem;
    height: auto;
}

/* ------ her stopper Navigation styling ------ */

/* ----- Her begynder Content -----*/

/*Styling af header med titel*/
header img{
    width: 100vw;
    height: 59vh;
    margin-top: 3.5rem;
    object-fit: cover;
}

header{
    margin-bottom: -4px;
}

.header-big{
    font-family: var(--script);
    font-size: 4rem;
    color: var(--light-text);
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.header-small{
    font-style: italic;
    font-size: 4.5vw;
    color: var(--light-text);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ----- Styling af content ----- */

/*sætter ikon ved siden af tekst*/
.text-icon-flex{
    display: flex;
    align-items: center;
}

/*Se mere knap*/
.index-se-mere {
    text-decoration: none;
    color: var(--light-text);
    background-color: var(--light-green);
    font-size: 1.15rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    padding-left: 3.1rem;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    float: right;
    margin-right: 2rem;
    margin-top: 2rem;
    border-bottom-left-radius: 60px;
}

.index-se-mere:hover {
    background-color: var(--dark-green);
}

.index-se-mere:focus {
    background-color: var(--dark-green);
}

/*Åbningstider*/
.opening-flex {
    display: flex;
    justify-content: space-between;
}

.index-one{
    background-color: var(--light-text);
    height: 264px;
    padding-left: 1.6rem;
    padding-right: 1.2rem;
}

.index-one h3{
    font-family: var(--sans-serif-regular);
    font-weight: 400;
    color: var(--light-green);
    font-size: 1.3rem;
    padding-top: 2.6rem;
    margin-left: 0;
}

.index-one h4{
    font-family: var(--sans-serif-regular);
    font-weight: 400;
    color: var(--dark-green);
    font-size: 1rem;
    padding-top: 1.7rem;
    border-bottom: 1px solid var(--dark-green);
    margin-left: 0;
    margin-bottom: 0.6rem;
}

.opening-flex p{
    font-size: 0.75rem;
    line-height: 20px;
}

.opening-phone {
    margin-top: 2.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.opening-phone p{
    font-size: 0.9rem;
    color: var(--dark-green);
    font-family: var(--sans-serif);
    font-weight: 400;
}

.opening-phone img {
    height: 1.2rem;
    width: auto;
    margin-right: 0.3rem;
}

.phone-info {
    text-align: end;
    font-size: 0.8rem;
    color: var(--light-green);
    font-family: var(--sans-serif-regular);
    font-weight: 400;
}

/*Velkommen*/
.index-two{
    background-color: var(--grey);
    height: 26.2rem;
}

.index-two h3{
    padding-top: 1.2rem;
    font-size: 1.3rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    color: var(--dark-green);
}

.index-two hr{
    margin-top: 0.9rem;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.index-two p{
    color: var(--dark-brown);
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 1rem;
    font-size: 0.8rem;
}

.index-two-awards{
    margin-left: 4rem;
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
}

.index-two-awards img {
    margin-top: 1.6rem;
    width: 3.5rem;
    height: auto;
}

/*Hvem er vi - Billede*/
    .index-three{
    height: 14rem;
    width: 100vw;
}

    .index-three img{
    width: 100vw;
    height: 14rem;
    object-fit: cover;
}

/*Hvem er vi - Tekst*/
.index-four{
    background-color: var(--light-text);
    height: 23.4rem;
}

.index-four h3{
    padding-top: 1.8rem;
    font-size: 1.3rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    color: var(--light-green);
}

.index-four img{
    padding-top: 0.8rem;
    padding-left: 0.4rem;
    width: 3.8rem;
    height: auto;
}

.index-four hr{
    margin-top: 0rem;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.3rem;
}

.index-four p{
    padding-left: 4rem;
    padding-right: 1.5rem;
    padding-bottom: 1.3rem;
    font-size: 0.8rem;
    color: var(--dark-brown);
}

/*Restaurant - Billede*/
.index-five{
    height: 14rem;
    width: 100%;
}

    .index-five img{
    width: 100vw;
    height: 14rem;
    object-fit: cover;
}

/*Restaurant - Tekst*/
.index-six{
    background-color: var(--grey);
    height: 30rem;
}

.index-six h3{
    padding-top: 1.8rem;
    font-size: 1.3rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    color: var(--dark-green);
}

.index-six img{
    padding-top: 0.8rem;
    padding-left: 0.4rem;
    width: 3.8rem;
    height: auto;
}

.index-six hr{
    margin-top: 0rem;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.3rem;
}

.index-six p{
    padding-left: 4rem;
    padding-right: 1.5rem;
    padding-bottom: 1.3rem;
    font-size: 0.8rem;
    color: var(--dark-brown);
}

/*Værelser - Billede*/
.index-seven{
    height: 14rem;
    width: 100vw;
}

.index-seven img{
    width: 100%;
    height: 14rem;
    object-fit: cover;
}

/*Værelser - Tekst*/
.index-eight{
    background-color: var(--light-text);
    height: 23rem;
}

.index-eight h3{
    padding-top: 1.8rem;
    font-size: 1.3rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    color: var(--light-green);
}

.index-eight img{
    padding-top: 0.8rem;
    padding-left: 0.4rem;
    width: 3.8rem;
    height: auto;
}

.index-eight hr{
    margin-top: 0rem;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.3rem;
}

.index-eight p{
    padding-left: 4rem;
    padding-right: 1.5rem;
    padding-bottom: 1.3rem;
    font-size: 0.8rem;
    color: var(--dark-brown);
}

/*Selskaber - Billede*/
.index-nine{
    height: 14rem;
    width: 100%;
}

.index-nine img{
    width: 100vw;
    height: 14rem;
    object-fit: cover;
}

/*Selskaber - Tekst*/
.index-ten{
    background-color: var(--grey);
    height: 25.5rem;
}

.index-ten h3{
    padding-top: 1.8rem;
    font-size: 1.3rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    color: var(--dark-green);
}

.index-ten img{
    padding-top: 0.8rem;
    padding-left: 0.4rem;
    width: 3.8rem;
    height: auto;
}

.index-ten hr{
    margin-top: 0rem;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.3rem;
}

.index-ten p{
    padding-left: 4rem;
    padding-right: 1.5rem;
    padding-bottom: 1.3rem;
    font-size: 0.8rem;
    color: var(--dark-brown);
}

/*Find vej - Tekst*/
.index-eleven{
    background-color: var(--light-text);
    height: 18.5rem;
}

.index-eleven h3{
    padding-top: 1.8rem;
    font-size: 1.3rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    color: var(--light-green);
}

.index-eleven img{
    padding-top: 0.8rem;
    padding-left: 0.4rem;
    width: 3.8rem;
    height: auto;
}

.index-eleven hr{
    margin-top: 0rem;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.3rem;
}

.index-eleven p{
    padding-left: 4rem;
    padding-right: 1.5rem;
    padding-bottom: 1.3rem;
    font-size: 0.8rem;
    color: var(--dark-brown);
}

/*Find Vej - Kort*/

#gmap_canvas {
    width: 100vw;
    height: 15rem;
}

/*Anmeldelser */
.index-thirteen{
    background-color: var(--grey);
    height: 25.7rem;
}

.index-thirteen h3{
    padding-top: 2rem;
    font-size: 1.3rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    color: var(--dark-green);
}

.index-thirteen img{
    padding-top: 0.8rem;
    padding-left: 0.4rem;
    width: 3.8rem;
    height: auto;
}

.index-thirteen hr{
    margin-top: 0.7rem;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.3rem;
}

.index-thirteen p{
    padding-left: 4rem;
    padding-right: 1.5rem;
    padding-bottom: 1.3rem;
    font-size: 0.8rem;
    color: var(--dark-brown);
}

/* Footer */

.footer-contact{
    background-color: var(--dark-green);
    height: 38rem;
    color: var(--light-text);
    font-family: parisplus-clair, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2; 
    padding: 2rem;
    column-gap: 1rem;
}

.first{
    grid-row-start: 1;
    grid-row-end:  1;
}

.first h2{
    border-bottom: 1px solid;
}

.second h2{
    border-bottom: 1px solid;
}

.footer-time{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
}

.footer-time .third{
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer-opening{
    margin-top: 2.4rem;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 1px solid;

}

.footer-some-icons{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer-some-icons img{
    margin: 1.3rem;
}

footer h2{
    padding-block: 0.5rem;
}

footer p{
    font-size: 1.1rem;
    line-height: 2.4;
    font-style: italic;
    color: var(--light-text);
}

/* ------ MEDIA QUERY ------ */

/* Media Query for Tablet */
@media only screen and (min-width: 700px) {
    
    /* ------ Tablet-Nav ------ */
    
    .nav-logo{
        width: 12.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .top-bar-flag{
        margin-right: 2rem;
        width: 3rem;
    }
    
    .fas{
        font-size: 2.6rem;
        line-height: 45px;
        float: right;
        padding-right: 1rem;    
    }

    /* ---- Tablet-Burger-Dropdown ---- */
    
    .dropdown-content a {
        padding-block: 1.5rem;
    }
    
    .dropdown-content p {
        font-size: 1.4rem;
    }
    /* ----- Styling af content ----- */

    /*Åbningstider*/
    

    /* Tablet-Footer */
    .footer-some-icons{
        display: flex;
        place-self: center;
        column-gap: 3rem;
        padding-top: 0rem;
    }

    .footer-opening{
        font-size: 1.6rem;
    }

    footer h2{
        font-size: 1.6rem;
    }

    footer p{
        font-size: 1.3rem;
    }
}

/* Media Query for Web */
@media only screen and (min-width: 1150px) {
    
    /* ------ Web Nav ------ */
    .nav-logo{
        width: 10rem;
        height: auto;
        align-items: center;
    }
    
    .web-nav {
        display: flex;
        height: 7rem;
    }

    .web-nav a{
        font-size: 1.5rem;
        font-family: var(--sans-serif-regular);
        font-style: italic;
    }

    .subnav{
        max-height: none;
    }

    .subnav .subnavbtn {
        font-size: 1.5rem;
        font-family: var(--sans-serif-regular);
        font-style: italic;
    }

    .mobile-nav {
        display: none;
    }

    .nav-logo{
        width: 17rem;
        height: auto;
        align-items: center;
    }

    .top-bar {
        width: 22rem;
        height: 3.5rem;
        margin-top: -3.5rem;
        border-bottom-left-radius: 60px;
        border: solid 1px var(--dark-brown);
        border-top: 0px;
        border-right: 0px;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .top-bar-flag{
        margin: 0.9rem;
        width: 2.2rem;
        height: auto;
    }

    .top-bar p{
        font-family: var(--sans-serif);
        color: var(--dark-brown);
        font-size: 1.2rem;
    }
    
    .top-bar div{
        height: 1.5rem;
        width: 1px;
        background-color: black;
        margin-left: 1rem;
        margin-right: 0.8rem;
    }

    /* ----- Her begynder Content -----*/

    .referencer {
        width: 100vw;
        height: auto;
        position: fixed;
        top: 0;
        margin-top: 10rem;
        opacity: 0.5;
    }

    /*Styling af header med titel*/
    header img{
        margin-top:auto;
        height: 55vh;
        object-fit: cover;
    }
   
    .header-big{
        font-size: 10vw;
        top: 33%;
    }
    .header-small{
        top: 44%;
        font-size: 1.8vw;
    }
    .index-gridcontainer img{
        width: 50vw;
        height: 70vh;
    }
    .index-gridcontainer{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 35rem 50rem;
    }
    
    /* Åbningstider Grid-Box */
    .index-one{
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: var(--grey);
        height: 100%;
        padding-left: 1.6rem;
        padding-right: 1.2rem;
    }

    .index-one h3{
        color: var(--dark-green);
        font-size: 1.9rem;
        padding-top: 2.5rem;
        margin-left: 2.5rem;
    }
    
    .index-one h4{
        color: var(--light-green);
        font-size: 1.6rem;
        padding-top: 4.4rem;
        margin-left: 2.7rem;
        margin-bottom: 1.9rem;
        padding-bottom: 1.2rem;
    }
    
    .opening-flex{
        justify-content: space-between;
        padding-right: 6.5rem;
    }

    .opening-flex p{
        font-size: 1.3rem;
        line-height: 38px;
        padding-left: 7.8rem;
        white-space: nowrap;
    }
    
    .opening-phone {
        margin-top: 3.2rem;
        margin-right: 7.5rem;
    }
    
    .opening-phone p{
        font-size: 1.6rem;
    }
    
    .opening-phone img {
        height: 2rem;
        width: auto;
        margin-right: 0.3rem;
    }
    
    .phone-info {
        font-size: 1.3rem;
        margin-right: 7.5rem;
    }

    /* Velkommen Grid-Box */
    .index-two{
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: var(--light-text);
        height: 100%;
    }

    .index-two h3{
        font-size: 1.9rem;
        padding-top: 2.5rem;
        margin-left: 8.7rem;
        color: var(--light-green);
    }
    
    .index-two hr{
        margin-top: 1.1rem;
        margin-left: 8.75rem;
        margin-right: 4rem;
    }
    
    .index-two p{
        margin-top: 1.6rem;
        margin-left: 12.5rem;
        margin-right: 2rem;
        font-size: 1.4rem;
    }
    
    .index-two-awards{
        margin-left: 14rem;
        margin-right: 11rem;
        display: flex;
        justify-content: space-between;
    }
    
    .index-two-awards img {
        margin-top: 1.6rem;
        width: 7rem;
        height: auto;
    }

    /* [Image] Hvem er vi Grid-Box */
    .index-three{
        grid-column: 1/2;
        grid-row: 2/3;
        height: 100%;
    }

    .index-three img{
        height: 100%;
        width: auto;
    }

    /* [Text] Hvem er vi Grid-Box */
    .index-four{
        grid-column: 2/3;
        grid-row: 2/3;
        height: 100%;
    }
    
    .index-four h3{
        font-size: 1.9rem;
        padding-top: 6.7rem;
        margin-left: 4.2rem;
    }
    
    .index-four img{
        padding-top: 7.4rem;
        padding-left: 2.4rem;
        width: 6rem;
        height: auto;
    }
    
    .index-four hr{
        margin-top: -0.9rem;
        margin-left: 4.2em;
        margin-right: 9em;
        margin-bottom: 0.3rem;
    }
    
    .index-four p{
        padding-left: 9rem;
        padding-right: 1.5rem;
        padding-bottom: 1.3rem;
        font-size: 1.3rem;
    }

    /* [Image] Restaurant Grid-Box */
    .index-five{
        grid-column: 2/3;
        grid-row: 3/4;
        height: 100%;
    }

    /* [Text] Restaurant Grid-Box */
    .index-six{
        grid-column: 1/2;
        grid-row: 3/4;
        height: 100%;
    }

    /* [Image] Værelser Grid-Box */
    .index-seven{
        grid-column: 1/2;
        grid-row: 4/5;
        height: 100%;
    }

    /* [Text] Værelser Grid-Box */
    .index-eight{
        grid-column: 2/3;
        grid-row: 4/5;
        height: 100%;
    }

    /* [Image] Selskaber Grid-Box */
    .index-nine{
        grid-column: 2/3;
        grid-row: 5/6;
        height: 100%;
    }

    /* [Text] Selskaber Grid-Box */
    .index-ten{
        grid-column: 1/2;
        grid-row: 5/6;
        height: 100%;
    }

    /* Find Vej + Flag Grid-Box */
    .index-web-paralax{
        grid-column: 1/3;
        grid-row: 6/7;
        display: flex;
        height: 100%;
    }

    /* [Text] Selskaber Grid-Box */
    .index-thirteen{
        grid-column: 1/3;
        grid-row: 7/8;
    }

    /*Find Vej - Kort*/
    #gmap_canvas {
    width: 50vw;
    height: 35rem;
    align-items: flex-end;
    }

    .index-six img, .index-eight img, .index-ten img, .index-eleven img {
        width: 3rem;
        height: auto;
    }

    /* Footer */
    .footer-contact{
        display: grid;
        grid-template-columns: 20vw 20vw auto 10vw;
        grid-template-rows: 20vw;
        column-gap: 10rem;
        height: fit-content;
    }
    .footer-time{
        grid-template-rows: 2.4rem;
    }

    .first{
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .second{
        grid-column-start: 2;
        grid-column-end: 2;
    }
    .footer-contact .footer-time{
        grid-column-start: 3;
        grid-column-end: 3;
        margin-top: 2rem;
    }

    .footer-opening{
        margin: 0;
    }
    .footer-underscore{
        padding: 0;
    }

    .third{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    div.footer-some-icons{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 4;
        grid-column-end: 4;
        display: grid;

    }

    .third-rest{
        grid-column-start: 2;
        grid-column-end: 3;
    }

    footer h2{
        margin-top: 2rem;
    }


}


/* Her retter vi i navbaren så den ikke presser tingene sammen */
@media only screen and (min-width: 1650px) {
    
    .web-nav a{
        font-size: 1.8rem;
    }

    .subnav .subnavbtn {
        font-size: 1.8rem;
    }
    /* Aktiverer Top-bar med telefon-nummer og sprog */
    .top-bar {
        display: flex;
    }
    /* Skjuler only-flags div */
    .only-flags {
        display: none;
    }
}