*{
    margin: 0px;
    font-family: parisplus-clair;
}

:root{
    --dark-brown: #5C3F16;
    --dark-green: #476948;
    --light-text: #F0F0EB;
    --light-green: #889B7F;
    --grey: #d8d5cd;
    --script: gioviale, sans-serif;
    --sans-serif: parisplus-std, sans-serif;
    --sans-serif-regular: parisplus-std, sans-serif;
}
/*Font-styling mobile*/
h3{
    color: var(--light-green);
    font-size: 1.5em;
    margin-left: 1em;
}
h4{
    color: var(--dark-green);
    font-size: 1.2em;
    font-style: italic;
    margin-left: 1.4em;
}
p{
    color: var(--dark-brown);
    font-size: 1em;
    font-weight: 600;
    line-height: 1.6em;
}

/* Nav-Bar */

li{
    display: inline;
}

ul{
    padding-inline-start: 0px;
}

.nav-logo{
    width: 8.5rem;
    height: auto;
    margin-left: 0.3rem;
    margin-top: 0.4rem;
}

/* Mobile Nav-Bar */

.mobile-nav{
    padding: 0;
    display: flex;
    align-items: center;
    background-color: var(--light-text);
    margin-bottom: 2rem;
    height: 3.5rem;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.flags-and-burger{
    display: flex;
    vertical-align: center;
    justify-content: flex-end;
    gap: 0.4rem;
    position: relative;
    margin-left: auto;
}

.burger-linje{
    background-color: var(--dark-brown);
    width: 35px;
    height: 3px;
    margin: 0.4rem;
    margin-right: 0.5rem;
    border-radius: 0.4rem;
}

.burger-menu {
    border: none;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-text);
    width: 100vw;
    height: 100%;
    z-index: 1;
    padding-top: 1rem;
    /* Denne margin fikser nav/menu clash */
    margin-top: 8rem;
}

.dropdown-content a {
    font-family: var(--sans-serif-regular);
    font-weight: 400;
    background-color: var(--light-text);
    text-decoration: none;
    display: block;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-main-page{
    color: var(--dark-green);
    border-bottom: 1px solid #C1BBAC;
    padding-inline: 2.4rem;
    font-size: 1.4rem;
}

.top-border {
    border-top: #C1BBAC 1px solid;
}

.mobile-sub-page{
    color: var(--light-green);
    padding-inline: 5rem;
    font-size: 1.2rem;
    font-style: italic;
}

.mobile-sub-omos{
    color: var(--light-green);
    padding-inline: 5rem;
    font-size: 1.2rem;
    font-style: italic;
}

.dropdown-content p {
    font-family: var(--sans-serif);
    font-weight: 400;
    color: var(--dark-green);
    background-color: var(--light-text);
    text-align: center;
    margin-inline: 0;
    padding-block: 1rem;
}

.dropdown-phone{
    display: flex;
    background-color: var(--light-text);
    justify-content: center;
    align-items: center;
    border-top: #C1BBAC 1px solid;
}

.dropdown-phone img{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
    
.show {display: block;}


/* Web Nav-Bar */
.web-nav {
    overflow: hidden;
    background-color: #F0F0EB;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  
  /* Navigation links */
  .web-nav a {
    float: left;
    font-size: 16px;
    color: var(--dark-brown);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--dark-brown);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .web-nav a:hover, .subnav:hover .subnavbtn {
    transform: scale(1.05)  
}
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    margin-top: 3.9rem;
    background-color: var(--light-text);
    z-index: 1;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    justify-content: center;
    color: var(--dark-brown);
    text-decoration: none;
    padding-inline: 2rem;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: var(--light-green);
    color: rgb(255, 255, 255);
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
  }

.top-bar-phone{
    margin-left: 1rem;
    margin-right: 0.5rem;
    width: 1.2rem;
    height: auto;
}

.top-bar div{
    height: 1rem;
    width: 1px;
    background-color: black;
    margin-left: 1rem;
    margin-right: 0.8rem;
}

.top-bar-flag{
    margin: 0.4rem;
    width: 2.2rem;
    height: auto;
}

/* ------ her stopper Navigation styling ------ */

.referencer {
    width: 100%;
    height: auto;
}

/* Footer */

footer{
    background-color: var(--dark-green);
    height: 38rem;
    display: flex;
    flex-direction: column;
    color: var(--light-text);
    font-family: parisplus-clair, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-contact{
    margin-top: 4rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    height: 18rem;
    display: flex;
    justify-content: space-around;
}

.footer-time{
    height: 12rem;
    margin-top: 0.5rem;
    margin-left: -1.4rem;
    display: flex;
    justify-content: space-around;
}

.footer-some-icons{
    height: 12rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.footer-opening{
    margin-top: 2.4rem;
    margin-inline: 1rem;
}

.footer-underscore{
    border-bottom: 1px solid;
}

footer h2{
    padding-block: 0.5rem;
}

footer p{
    font-size: 1.1rem;
    line-height: 2.4;
    font-style: italic;
    color: var(--light-text);
}

/* ------ MEDIA QUERY ------ */

/* Media Query for Tablet */
@media only screen and (min-width: 700px) {
    
    /* ------ Tablet-Nav ------ */
    .mobile-nav{
        height: 6rem;
    }
    
    .nav-logo{
        width: 12.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .top-bar-flag{
        margin-right: 2rem;
        width: 3rem;
    }
    
    .burger-linje{
        width: 45px;
        height: 4px;
        margin: 0.5rem;
        margin-right: 1.5rem;
    }

    /* ---- Tablet-Burger-Dropdown ---- */
    
    .dropdown-content {
        /* Denne margin fikser nav/menu clash */
        margin-top: 12.9rem;
    }
    
    .dropdown-content a {
        padding-block: 1.5rem;
    }
    
    .mobile-main-page{
        padding-inline: 4rem;
        font-size: 1.8rem;
    }
    
    
    .mobile-sub-page{
        padding-inline: 8rem;
        font-size: 1.4rem;
    }
    
    .mobile-sub-omos{
        padding-inline: 8rem;
        font-size: 1.4rem;
    }
    
    .dropdown-content p {
        font-size: 1.4rem;
    }

    /* Tablet-Footer */

    footer{
        height: 45rem;
    }

    .footer-contact{
        font-size: 1.4rem;
        margin-top: 4rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .footer-time{
        height: 12rem;
        margin-top: 0.5rem;
        margin-left: 2rem;
        margin-right: 4rem;
        display: flex;
        justify-content: space-around;
    }

    .footer-some-icons{
        margin-top: 3rem;
        justify-content: center;
        gap: 5rem;
    }

    .footer-opening{
        font-size: 1.8rem;
        margin-inline: 9rem;
    }

    footer h2{
        padding-block: 0.5rem;
        font-size: 1.6rem;
    }

    footer p{
        font-size: 1.3rem;
    }
}

/* Media Query for Web */
@media only screen and (min-width: 1150px) {
    .nav-logo{
        width: 10rem;
        height: auto;
        align-items: center;
    }
    
    .web-nav {
        display: flex;
        height: 7rem;
    }

    .web-nav a{
        font-size: 1.5rem;
        font-family: var(--sans-serif-regular);
        font-style: italic;
    }

    .subnav .subnavbtn {
        font-size: 1.5rem;
        font-family: var(--sans-serif-regular);
        font-style: italic;
    }

    .mobile-nav {
        display: none;
    }

    .nav-logo{
        width: 17rem;
        height: auto;
        align-items: center;
    }

    .top-bar {
        width: 22rem;
        height: 3.5rem;
        margin-top: -3.5rem;
        border-bottom-left-radius: 60px;
        border: solid 1px var(--dark-brown);
        border-top: 0px;
        border-right: 0px;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .top-bar-flag{
        margin: 0.9rem;
        width: 2.2rem;
        height: auto;
    }

    .top-bar p{
        font-family: var(--sans-serif);
        color: var(--dark-brown);
        font-size: 1.2rem;
    }
    
    .top-bar div{
        height: 1.5rem;
        width: 1px;
        background-color: black;
        margin-left: 1rem;
        margin-right: 0.8rem;
    }



    /* Footer */

    footer{
        height: 38rem;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 20rem;
    }

    .footer-contact{
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


/* Her retter vi i navbaren så den ikke presser tingene sammen */
@media only screen and (min-width: 1650px) {
    
    .web-nav a{
        font-size: 1.8rem;
    }

    .subnav .subnavbtn {
        font-size: 1.8rem;
    }
    /* Aktiverer Top-bar med telefon-nummer og sprog */
    .top-bar {
        display: flex;
    }
    /* Skjuler only-flags div */
    .only-flags {
        display: none;
    }
}