*{
    margin: 0px;
    font-family: parisplus-clair;
}

:root{
    --dark-brown: #5C3F16;
    --dark-green: #476948;
    --light-text: #F0F0EB;
    --light-green: #889B7F;
    --grey: #d8d5cd;
    --script: gioviale, sans-serif;
    --sans-serif: parisplus-std, sans-serif;
    --sans-serif-regular: parisplus-std, sans-serif;
}


/*Font-styling mobile*/
h3{
    color: var(--light-green);
    font-size: 1.5em;
    margin-left: 1em;
}
h4{
    color: var(--dark-green);
    font-size: 1.2em;
    font-style: italic;
    margin-left: 1.4em;
}
p{
    color: var(--dark-brown);
    font-size: 1em;
    font-weight: 600;
    line-height: 1.6em;
}

/* Nav-Bar */

li{
    display: inline;
}

ul{
    padding-inline-start: 0px;
}
/* Fas fa-bar svg'ets (burgermenu ikonet) indstillinger */
.fas{
    font-size: 2.2rem;
    line-height: 45px;
    float: right;
    padding: 0.4rem;
}

nav{
    position: fixed;
    left: 0;
    width: 100%;
}

.nav-logo{
    width: 8.5rem;
    height: auto;
    margin-left: 0.7rem;
    margin-top: 0.8rem;
}

.flags-and-burger{
    display: flex;
    vertical-align: center;
    justify-content:flex-start;
    gap: 0.4rem;
    position: relative;
    margin-left: auto;
    float: right;
    color: var(--dark-brown);
}

/* UL indstillinger, bl.a. gør at vi har en transition på vores menu */
nav ul{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    height: 100%;
    z-index: 1;
}

#underline{
    border-bottom: #C1BBAC 1px solid;
}

.under-menu li > a{
    color: var(--light-green);
    border-top: none;
    padding-left: 4rem;
    font-style: italic;
    font-size: 1rem;
}

.mobile-nav {
    background-color: var(--light-text);
    margin-inline: 0;
    z-index: +5;
}

.dropdown-content a {
    font-family: var(--sans-serif-regular);
    font-weight: 400;
    background-color: var(--light-text);
    color: var(--dark-green);
    font-size: 1.2rem;
    text-decoration: none;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-top: #C1BBAC 1px solid;
    padding-left: 2rem;
}

.dropdown-phone{
    display: flex;
    background-color: var(--light-text);
    color: var(--dark-green);
    justify-content: center;
    align-items: center;
    border-top: #C1BBAC 1px solid;
    border-bottom: #C1BBAC 1px solid;
    font-size: 1rem;
    padding: 1em;
}

.dropdown-phone p{
    color: var(--dark-green);
    font-family: var(--sans-serif-regular);
    font-weight: 200;
}

.dropdown-phone img{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

/* Checkbox, som er burgermenu'ens indstillinger der gør at vores menu kommer ned når man klikker */
#checkbox{
    display: none;
}

#checkbox:checked ~ nav ul{
    max-height: 100%;
    transition: all 10s;
}
/* ------------------- Mobile navbar slutter ------------------- */

/* Web Nav-Bar */

.web-nav {
    background-color: #F0F0EB;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    z-index: 5;
  }
  
  /* Navigation links */
  .web-nav a {
    float: left;
    font-size: 16px;
    color: var(--dark-brown);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--dark-brown);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .web-nav a:hover, .subnav:hover .subnavbtn {
    transform: scale(1.05)  
}
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    margin-top: 7rem;
    background-color: var(--light-text);
    z-index: 1;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    justify-content: center;
    color: var(--dark-brown);
    text-decoration: none;
    padding-inline: 2rem;
    z-index: 1;
    text-align: start;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: var(--light-green);
    color: rgb(255, 255, 255);
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
  }

.top-bar-phone{
    margin-left: 1rem;
    margin-right: 0.5rem;
    width: 1.2rem;
    height: auto;
}

.top-bar div{
    height: 1rem;
    width: 1px;
    background-color: black;
    margin-left: 1rem;
    margin-right: 0.8rem;
}

.top-bar-flag{
    margin: 0.4rem;
    width: 2.2rem;
    height: auto;
}

/* ------ her stopper Navigation styling ------ */

.referencer {
    width: 100%;
    height: auto;
}

/* ----- Her begynder Content -----*/

/*Styling af header med titel*/
header img{
    width: 100vw;
    height: 59.5vh;
    margin-top: 3.5rem;
    object-fit: cover;
}

.header-overlay{
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 0em;
    margin-top: 3.5rem;
    background-color: rgba(46, 52, 45, 0.557);
}

header{
    margin-bottom: -4px;
}

.header-big{
    font-family: var(--script);
    font-size: 4rem;
    color: var(--light-text);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.header-small{
    font-style: italic;
    font-size: 4vw;
    color: var(--light-text);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Styling af sectioner*/
.opening-flex {
    display: flex;
}

.index-one{
    background-color: var(--grey);
    height: 200px;
    margin-inline: 3rem;
}

.index-one h3{
    font-family: var(--sans-serif-regular);
    font-weight: 400;
    color: var(--dark-green);
    font-size: 1.3rem;
    padding-top: 2.8rem;
}

.index-one h4{
    font-family: var(--sans-serif-regular);
    font-weight: 400;
    color: var(--light-green);
    font-size: 1rem;
    padding-top: 0.8rem;
    border-bottom: 1px solid var(--light-green);
}

.section-img{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    margin-bottom: -4px;
}
.two{
    background-color: var(--light-text);
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 3em;
}
hr{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.text-box{
    margin-left: 4em;
    margin-right: 1.5em;
    margin-top: 0.5em;
    padding-bottom: 2em;
}
.facilities{
    list-style-type: circle;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.facilities li{
    display: list-item;
    color: var(--dark-brown);
    font-size: 1em;
    font-weight: 600;
    line-height: 1.8em;
}
.facilities-day{
    margin-left: -1em;
    margin-bottom: 0.5em;
}
.four{
    background-color: var(--grey);
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 5em;
}
.four h3{
    color: var(--dark-green);
}

/* Footer */

footer{
    background-color: var(--dark-green);
    height: 38rem;
    display: flex;
    flex-direction: column;
    color: var(--light-text);
    font-family: parisplus-clair, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-contact{
    margin-top: 4rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    height: 18rem;
    display: flex;
    justify-content: space-around;
}

.footer-time{
    height: 12rem;
    margin-top: 0.5rem;
    margin-left: -1.4rem;
    display: flex;
    justify-content: space-around;
}

.footer-some-icons{
    height: 12rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.footer-opening{
    margin-top: 2.4rem;
    margin-inline: 1rem;
}

.footer-underscore{
    border-bottom: 1px solid;
}

footer h2{
    padding-block: 0.5rem;
}

footer p{
    font-size: 1.1rem;
    line-height: 2.4;
    font-style: italic;
    color: var(--light-text);
}

/* ------ MEDIA QUERY ------ */

/* Media Query for Tablet */
@media only screen and (min-width: 700px) {
    
    /* ------ Tablet-Nav ------ */
    .mobile-nav{

    }
    
    .nav-logo{
        width: 12.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .top-bar-flag{
        margin-right: 2rem;
        width: 3rem;
    }
    
    .fas{
        font-size: 2.6rem;
        line-height: 45px;
        float: right;
        padding-right: 1rem;    
    }

    /* ---- Tablet-Burger-Dropdown ---- */
    
    .dropdown-content a {
        padding-block: 1.5rem;
    }
    
    .dropdown-content p {
        font-size: 1.4rem;
    }

    /* Tablet-Footer */

    footer{
        height: 45rem;
    }

    .footer-contact{
        font-size: 1.4rem;
        margin-top: 4rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .footer-time{
        height: 12rem;
        margin-top: 0.5rem;
        margin-left: 2rem;
        margin-right: 4rem;
        display: flex;
        justify-content: space-around;
    }

    .footer-some-icons{
        margin-top: 3rem;
        justify-content: center;
        gap: 5rem;
    }

    .footer-opening{
        font-size: 1.8rem;
        margin-inline: 9rem;
    }

    footer h2{
        padding-block: 0.5rem;
        font-size: 1.6rem;
    }

    footer p{
        font-size: 1.3rem;
    }
}

/* Media Query for Web */
@media only screen and (min-width: 1150px) {
    .nav-logo{
        width: 10rem;
        height: auto;
        align-items: center;
    }
    
    .web-nav {
        display: flex;
        height: 7rem;
    }

    .web-nav a{
        font-size: 1.5rem;
        font-family: var(--sans-serif-regular);
        font-style: italic;
    }

    .subnav{
        max-height: none;
    }

    .subnav .subnavbtn {
        font-size: 1.5rem;
        font-family: var(--sans-serif-regular);
        font-style: italic;
    }

    .mobile-nav {
        display: none;
    }

    .nav-logo{
        width: 17rem;
        height: auto;
        align-items: center;
    }

    .top-bar {
        width: 22rem;
        height: 3.5rem;
        margin-top: -3.5rem;
        border-bottom-left-radius: 60px;
        border: solid 1px var(--dark-brown);
        border-top: 0px;
        border-right: 0px;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .top-bar-flag{
        margin: 0.9rem;
        width: 2.2rem;
        height: auto;
    }

    .top-bar p{
        font-family: var(--sans-serif);
        color: var(--dark-brown);
        font-size: 1.2rem;
    }
    
    .top-bar div{
        height: 1.5rem;
        width: 1px;
        background-color: black;
        margin-left: 1rem;
        margin-right: 0.8rem;
    }

    header img{
        margin-top:auto;
    }
    .header-overlay{
        margin-top: 5.5rem;
    }
    .header-big{
        font-size: 10vw;
        top: 30%;
    }
    .header-small{
        top: 45%;
        font-size: 1.8vw;
    }
    .index-gridcontainer img{
        width: 50vw;
        height: 70vh;
    }
    .index-gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70vh 70vh;
    }
    .index-one{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .index-two{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .index-three{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .index-four{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /* Footer */

    footer{
        height: 38rem;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-contact{
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


/* Her retter vi i navbaren så den ikke presser tingene sammen */
@media only screen and (min-width: 1650px) {
    
    .web-nav a{
        font-size: 1.8rem;
    }

    .subnav .subnavbtn {
        font-size: 1.8rem;
    }
    /* Aktiverer Top-bar med telefon-nummer og sprog */
    .top-bar {
        display: flex;
    }
    /* Skjuler only-flags div */
    .only-flags {
        display: none;
    }
}