.referencer {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    margin-top: 10rem;
    opacity: 0.5;
}

/* ----- Header -----*/
.header-small {
    white-space: nowrap;
}

/* ----- Se Menukort knap -----*/
.flex-knap {
    display: flex;
    justify-content: end;
    padding-top: 1.2rem;
}

.cocktail-section a {
    text-decoration: none;
    color: var(--light-text);
    background-color: var(--light-green);
    font-size: 1.15rem;
    font-family: var(--sans-serif);
    font-weight: 400;
    padding-left: 2.0rem;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-bottom-left-radius: 60px;
    text-align: center;
}

.cocktail-section a:hover{
    background-color: var(--dark-green);
}

.cocktail-section a:focus {
    background-color: var(--dark-green);
}

/* ----- Before Dinner Cocktails -----*/
.cocktail-section {
    background-color: var(--light-text);
    padding-bottom: 2rem;
    width: 100vw;
}

h2{
    color: var(--light-green);
    font-family: var(--sans-serif);
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
}

.menu-item-size {
    font-style: italic;
    text-align: end;
    margin-right: 1.5rem;
    font-size: 0.8rem;
    color: var(--dark-green);
    font-family: var(--sans-serif);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-inline: 1.5rem;
    border-bottom: solid #707070 1px;
    margin-bottom: 1.7rem;
    align-items: flex-end;
}

.product{
    font-size: 0.95rem;
    color: var(--light-green);
}

.price {
    font-size: 0.95rem;
    font-weight: 700;
    font-family: var(--sans-serif);
    color: var(--dark-green);
}

.show-on-web {
    display: none;
}

.menu-h3-fix {
    font-size: 0.9rem;
    margin-left: 0rem;
    padding-right: 1rem;
    font-family: var(--sans-serif);
    font-weight: 400;
}

/* ----- Champagne og andre bobler -----*/
.champagne-section {
    background-color: var(--grey);
    padding-bottom: 2rem;
}

.h2-dark-green {
    color: var(--dark-green);
}

.menu-h3 {
    font-size: 0.9rem;
    margin-left: 1.5rem;
    padding-right: 7rem;
    font-family: var(--sans-serif);
    font-weight: 400;
}

.product-undertitle {
    font-size: 0.75rem;
    font-style: italic;
}

/* ----- Hvidvin -----*/
.hvidvin-section {
    background-color: var(--light-text);
    padding-bottom: 2rem;
}

/* ----- Rosevin -----*/
.rosevin-section {
    background-color: var(--grey);
    padding-bottom: 2rem;
}

/* ----- Rødvin -----*/
.rodvin-section {
    background-color: var(--light-text);
    padding-bottom: 2rem;
}

/* ----- Dessertvin -----*/
.dessertvin-section {
    background-color: var(--grey);
    padding-bottom: 2rem;
}

/* ----- Øl og Sodavand -----*/
.sodavand-section {
    background-color: var(--light-text);
    padding-bottom: 2rem;
}

footer h2{
    color: var(--light-text);
}

/* ------ MEDIA QUERY ------ */

/* Media Query for Tablet */
@media only screen and (min-width: 700px) {

}

/* Media Query for Web */
@media only screen and (min-width: 1150px) {
    
    .web-columns {
        display: flex;
        justify-content: space-evenly;
        padding-left: 15rem;
        padding-right: 15rem;
    }

    /* ----- Before Dinner Cocktails -----*/
    .cocktail-section {
        padding-bottom: 5rem;
    }

    .cocktail-section a {
        font-size: 1.9rem;
        padding-left: 4.5rem;
        padding-right: 0.8rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        border-bottom-left-radius: 60px;
        text-align: center;
        margin-right: 8.8rem;
    }

    .cocktail-section h2{
        color: var(--light-green);
        font-family: var(--sans-serif);
        text-align: center;
        margin-top: -0.6rem;
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }

    .menu-item {
        margin-inline: 2.3rem;
        width: 32vw;
        margin-bottom: 1.3rem;
    }

    .menu-item-size {
        margin-right: 3.3rem;
        margin-top: -0.5rem;
        font-size: 1.1rem;
    }

    .product{
        font-size: 1.3rem;
    }
    
    .price {
        font-size: 1.3rem;
        font-weight: 700;
        font-family: var(--sans-serif);
        color: var(--dark-green);
    }

    .menu-h3-fix {
        font-size: 1.25rem;
    }

    .show-on-web {
        display: block;
    }

    /* ----- Champagne og andre bobler -----*/
    .champagne-section {
        padding-bottom: 5rem;
    }

    .h2-dark-green{
        padding-top: 2.5rem;
        font-size: 1.8rem;
        margin-bottom: 3rem;
        color: var(--dark-green);
    }
    
    .menu-h3 {
        font-size: 1.25rem;
        margin-left: 2.4rem;
        padding-right: 12rem;
    }
    
    .product-undertitle {
        font-size: 1.2rem;
    }

    /* ----- Hvidvin -----*/
    .hvidvin-section {
        padding-bottom: 5rem;
    }

    .hvidvin-section h2 {
        margin-top: -0.6rem;
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }

    /* ----- Rosévin -----*/
    .rosevin-section {
        padding-bottom: 5rem;
    }

    .rosevin-section h2 {
        margin-top: -0.6rem;
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }

    /* ----- Rødvin -----*/
    .rodvin-section {
        padding-bottom: 5rem;
    }

    .rodvin-section h2 {
        margin-top: -0.6rem;
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }

    /* ----- Dessertvin -----*/
    .dessertvin-section {
        padding-bottom: 5rem;
    }

    .dessertvin-section h2 {
        margin-top: -0.6rem;
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }

    /* ----- Øl og Sodavand -----*/
    .sodavand-section {
        padding-bottom: 5rem;
    }

    .sodavand-section h2 {
        margin-top: -0.6rem;
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }

    /* ----- Billede Section -----*/
    .billede-section {
        background-color: var(--light-text);
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 4rem;
    }

    .billede-section img {
        width: 25vw;
        height: auto;
    }
}